
<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
</ion-header>
<section class="home show-animate" id="home">
  <div class="home-content">
    <h1>Hi I'm Mark Joseph<span> Fajiculay</span></h1>
     <h4>BSIT 2-3</h4> <p> <span>non-chalant</span> in personal but secretly <span>OA </span>
        <br>I like <span>anime,manga and playing online games</span>  
        <br>5 years from now giving up on <span>programming</span>
        <br>my strength is I focus more when I am by <span>myself</span> and it is also my <span>weakness</span>
        <br><span>"Move well! Learn Well! Play Well! Eat Well! and Rest Well! The Kame Style is with you!"</span>
        <br> Ang aking love language ko ay <span>physical touch</span> Kasi mabilis ako matalo ng silos
        <br>Kung Pagkain ako <span>Sinigang</span> ako wala lang favorite ko kasi yun e
        <br>Yung natanong na tapos <span>nasabi</span> mo na yung sagot tapos magtatanong pa ulit
    </p>
      </div>


    </section>
    

<ion-tabs style="z-index: 1;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="apps"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
