<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>
        DISPLAY ATLEAST 4 ROWS
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Di ko natapos haha
    </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>
          NO DUPLICATION OF API RESOURCE
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        THIS WILL BE YOUR ACTIVITY 5 DUPLICATED RESOURCE WILL NOT BE GRADED UNIQUE RESOURCE WILL BE BASED ON THE COMMIT TO YOUR REPOSITORY
      </ion-card-content>
      </ion-card>

<ion-card>
<ion-card-header color="primary">
  <ion-card-title>
    COLOR YOUR UI
  </ion-card-title>
</ion-card-header>
<ion-card-content>
  FIND A PEG DESIGN/INSPIRATION FOR MOBILE APP AND MAKE YOUR OWN UI
</ion-card-content>
</ion-card>
<ion-card>
<ion-card-header color="primary">
  <ion-card-title>
    ACTIVITY-5-LASTNAME
  </ion-card-title>
</ion-card-header>
<ion-card-content>
  WILL BE YOUR BRANCH FORMAT.NOT FOLLOWING INSTRUCTION WILL NOT BE GRADED
</ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header color="primary">
    <ion-card-title>
      
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Di ko natapos haha
  </ion-card-content>
  </ion-card>
  <button class="btn1 btn1--primary" (click)="logout()">logout</button>
</ion-content>
