.btn1{
    border-radius: 20px;
    border: 0;
    font-size: 1.8rem;
    font-weight: 200;
    margin: 1rem 0;
    padding: 2px 10px;
    white-space: nowrap;
  }
  .btn--primary1{
    background-color: #009c22b4;
    color: white;
  }